@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Student Management System</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>


<div class="container mt-5">
    @* <h1 class="text-center mb-4">Welcome to the Student Management System</h1> *@
    <div class="list-group">
        <a href="/Student" class="list-group-item list-group-item-action">
            <strong>Add a Student</strong>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <strong>Delete a Student</strong>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <strong>Update a Student</strong>
        </a>
        <a href="/Feedback" class="list-group-item list-group-item-action">
            <strong>Submit Feedback</strong>
        </a>
    </div>
</div>